@import "../_variables.scss";

.scn-about {
  padding-top: 64px;
  padding-bottom: 64px;
  overflow: hidden;

  &__title {
    margin: 0 0 12px;
    font-size: 36px;
    font-weight: 700;
    line-height: 48px;
    text-transform: uppercase;
  }
  &__description {
    margin-bottom: 36px;
    font-size: 18px;
    line-height: 30px;

    p {
      margin: 0 0 1em;
    }
  }

  &-image {
    position: relative;
    height: 529px;

    &__img {
      position: absolute;
      left: 0;
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }

  &__btn {
    padding: 17px 20px 18px;
    border: none;
    width: 100%;
    max-width: 370px;
    display: inline-block;
    background-color: $color-primary;
    color: #ffffff;
    font-family: inherit;
    font-size: 24px;
    font-weight: 700;
    line-height: 29px;
    text-align: center;
    text-decoration: none;
    text-transform: uppercase;
    cursor: pointer;
    transition: ease 0.3s;
    transition-property: background-color;
    will-change: background-color;

    &:hover {
      background-color: #b61529;
      color: #ffffff;
      text-decoration: none;
    }
  }

  @media (max-width: #{$breakpoint-tablet - 0.002}) {
    &__btn {
      width: 100%;
      max-width: 100%;
    }
  }
  @media (min-width: $breakpoint-tablet) {
    padding-top: 100px;
    padding-bottom: 100px;

    &__title {
      margin-bottom: 12px;
    }
  }
  @media screen and (max-width: #{1293px - 0.002}) {
    &-image {
      margin: 0 #{-$container-padding-inner} 24px;
    }
  }
  @media screen and (min-width: 1293px) {
    &-row {
      $gap: 20px;

      margin-left: -$gap;
      margin-right: -$gap;
      display: flex;

      &__col {
        padding-left: $gap;
        padding-right: $gap;

        &_image {
          order: 2;
          flex-grow: 1;
        }
        &_info {
          width: 668px;
          order: 1;
        }
      }
    }

    &-image__img {
      width: calc(50vw + 110px);
    }
    &__info {
      max-width: 566px;
    }
  }
}
