.scn-appform {
  &__title {
    margin: 0 0 24px;
    text-align: center;
    text-transform: uppercase;

    span {
      display: block;

      &:first-child {
        margin-bottom: 4px;
        font-size: 24px;
        font-weight: 600;
        line-height: 29px;
      }
      &:last-child {
        font-size: 32px;
        font-weight: 700;
        line-height: 39px;
      }
    }
    @media screen and (min-width: $breakpoint-tablet) {
      span:last-child {
        font-size: 48px;
        line-height: 58px;
      }
    }
  }

  .scn-contacts {
    &-form {
      margin-bottom: 48px;
      max-width: 100%;
      display: grid;
      grid-gap: 24px;

      @media screen and (min-width: 840px) {
        margin-bottom: 64px;
        grid-template: ". ." / 1fr 1fr;
      }

      @media screen and (min-width: 1100px) {
        grid-gap: 24px 49px;
      }
    }
    &-field + .scn-contacts-field {
      margin-top: 0;
    }
  }

  &__footer {
    display: flex;
    justify-content: center;
  }
}
