@import "../_variables.scss";

.scn-infoblock {
  padding-top: 70px;

  @media screen and (min-width: $breakpoint-tablet) {
    padding-top: 121px;
  }

  &-logo {
    margin-bottom: 31px;

    &__container {
      position: relative;
    }

    img {
      display: block;
    }

    &__icon {
      position: absolute;
      right: -11px;
      top: -68px;
    }
    &__image {
      position: relative;
    }

    @media screen and (max-width: #{$breakpoint-tablet - 0.02}) {
      &__image {
        margin-left: -10px;
      }
    }

    @media screen and (min-width: $breakpoint-tablet) {
      margin-bottom: 24px;
      display: flex;
      justify-content: center;

      &__container {
        padding-right: 68px;
      }

      &__icon {
        right: -79px;
        top: -120px;
      }
    }
  }

  &__title {
    margin: 0 0 1em;
    font-size: 36px;
    font-weight: 700;
    line-height: 44px;
    text-transform: uppercase;
    text-align: center;

    span {
      position: relative;
      padding-left: 48px;

      &::before {
        background: url(/mainassets/images/tiktik-challenge/ico-money.png) no-repeat;
        background-position: left top;
        background-size: 41px auto;
        position: absolute;
        left: 2px;
        top: -1px;
        width: 54px;
        height: 58px;
        content: "";
      }
      @media screen and (min-width: $breakpoint-tablet) {
        padding-left: 62px;
        &::before {
          background-size: 54px auto;
        }
      }
    }

    @media screen and (min-width: $breakpoint-tablet) {
      font-size: 48px;
      line-height: 58px;
    }
  }

  &-instr {
    text-align: center;

    &__description,
    &__title {
      font-size: 24px;
      font-weight: 700;
      line-height: 29px;
    }
    &__description {
      margin: 0 0 35px;
    }
    &__title {
      margin: 0 0 28px;
      text-transform: uppercase;
    }

    &__content {
      margin: 0;
      font-size: 24px;
      font-weight: 700;
      line-height: 50px;

      span:first-child {
        position: relative;
        padding-left: 30px;

        &::before {
          background: url(/mainassets/images/tiktik-challenge/ico-camera.png) no-repeat;
          background-position: left top;
          background-size: 25px;
          position: absolute;
          left: 0;
          top: 0;
          width: 29px;
          height: 29px;
          content: "";
          @media screen and (min-width: $breakpoint-tablet) {
            top: -1px;
            background-size: 29px;
          }
        }
      }
    }
    &__tag {
      $padding: 21px;
      position: relative;
      margin: 0 5px;
      padding: 0 #{$padding};
      display: inline-block;

      &::before {
        z-index: -1;
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
        border-radius: 72px;
        width: 100%;
        height: calc(100% - 14px);
        background-color: #ffffff;
        content: "";
      }

      &_blue {
        color: #0e0cff;
      }
      &_red {
        color: #ff0516;
      }
    }

    @media screen and (min-width: $breakpoint-tablet) {
      &__description {
        margin-bottom: 36px;
      }
      &__title {
        margin-bottom: 23px;
      }
      &__content {
        font-size: 28px;
        line-height: 80px;
      }
      &__tag::before {
        height: calc(100% - 2px);
      }
    }
    @media screen and (min-width: 1100px) {
      &__content br {
        display: none;
      }
    }
  }
}
