@import "../_variables.scss";

@mixin scnMainLogos($index, $width, $orderIndex: 0) {
  &-logos__item:nth-child(#{$index}) {
    order: $orderIndex;

    img {
      max-width: $width;
    }
  }
}

.scn-main {
  z-index: 0;
  position: relative;
  padding-bottom: 40px;
  min-height: calc(100vh - 62px);
  background-size: cover;
  color: #ffffff;

  &::before {
    z-index: -1;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: #295ca7;
    opacity: 0.65;
    content: "";
  }

  &-bg {
    &__sm,
    &__lg {
      z-index: -2;
      position: absolute;
      left: 0;
      top: 0;
      width: 100%;
      height: 100%;
      background: no-repeat center;
      background-size: cover;
    }
    @media (max-width: #{$breakpoint-tablet - 0.002}) {
      &__lg {
        display: none;
      }
    }
    @media (min-width: $breakpoint-tablet) {
      &__sm {
        display: none;
      }
    }
  }

  &__logo {
    margin: 0 auto 24px;
    display: block;
  }
  &-logos {
    margin: 0 0 21px;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    list-style: none;

    @media (min-width: $breakpoint-tablet) {
      margin-bottom: 60px;
    }

    @mixin logosGap($gap) {
      margin-left: -$gap;
      margin-right: -$gap;
      &__item {
        padding-left: $gap;
        padding-right: $gap;
      }
    }

    @include logosGap(12px);
    @media (min-width: $breakpoint-tablet) {
      @include logosGap(15px);
    }

    &__item {
      margin-bottom: 15px;
    }
    img {
      width: 100%;
      display: block;
    }
  }

  &__under-title {
    margin: 0 0 8px;
    font-size: 18px;
    font-weight: 600;
    line-height: 22px;
    text-align: center;
    text-transform: uppercase;
  }
  &__title {
    margin: 0 0 24px;
    font-size: 36px;
    font-weight: 700;
    line-height: 1em;
    text-align: center;
    text-transform: uppercase;
  }
  &__description {
    margin: 0 auto;
    max-width: 918px;
    font-size: 20px;
    font-weight: 600;
    line-height: 36px;
    text-align: center;
  }

  @mixin flagIcon($file, $width, $height, $gap) {
    span {
      padding-left: #{$width + 17};
      line-height: $height;

      &::before {
        width: $width;
        height: $height;
        background-image: url("/../mainassets/images/main-section-texas-#{$file}");
      }
    }
  }
  &__flag {
    margin: 0;
    font-size: 24px;
    font-weight: 700;
    line-height: 36px;
    text-align: center;
    text-transform: uppercase;

    span {
      $img-width: 62px;

      display: inline-block;
      position: relative;

      &::before {
        position: absolute;
        left: 0;
        top: 0;
        background: no-repeat center;
        background-size: contain;
        content: "";
      }
    }

    @include flagIcon("flag-sm.jpeg", 62px, 36px, 17);
  }

  @media (min-width: $breakpoint-tablet) {
    min-height: 666px;

    &__logo {
      margin-bottom: 36px;
    }
    &__under-title {
      margin-bottom: 0;
      font-size: 36px;
      line-height: 44px;
    }
    &__title {
      font-size: 60px;
      line-height: 73px;
    }
    &__flag {
      margin-top: 36px;
      @include flagIcon("flag.jpeg", 90px, 53px, 24);
    }
  }
}
