@import "../_variables.scss";

.scn-products {
  margin-bottom: 88px;
  color: $color-default;

  &__section + &__section,
  &-list + &__header {
    margin-top: 64px;
    @media screen and (min-width: $breakpoint-tablet) {
      margin-top: 100px;
    }
  }

  &__header {
    margin-bottom: 48px;

    &_centered {
      @media (max-width: #{$breakpoint-tablet - 0.002}) {
        text-align: center;
      }
    }
  }

  &__logo {
    display: block;

    @media (max-width: #{$breakpoint-tablet - 0.002}) {
      margin-bottom: 16px;
    }
    @media (min-width: $breakpoint-tablet) {
      margin-right: 24px;
    }
  }
  &__title {
    margin: 0 0 24px;
    font-size: 24px;
    font-weight: 700;
    line-height: 29px;
    text-transform: uppercase;
    white-space: pre-wrap;
  }
  &__show-more-link {
    display: inline-block;
    color: $color-primary;
    font-size: 24px;
    font-weight: 700;
    line-height: 1em;
    text-decoration: none;
    text-transform: uppercase;

    &:hover {
      color: $color-primary;
      text-decoration: underline;
    }
  }

  &-list {
    padding: 0;
    list-style: none;

    &__item {
      position: relative;
      @media (max-width: #{$breakpoint-tablet - 0.002}) {
        & + & {
          margin-top: 64px;
        }
      }
    }

    &__image {
      position: relative;
      margin: 0 auto 24px;
      display: block;
      background: no-repeat center;
      background-size: contain;

      &::before {
        padding-top: 45.549738%;
        display: block;
        content: "";
      }

      img {
        position: absolute;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        opacity: 0.00001;
      }
    }
    &__title {
      margin: 0 0 16px;
      font-size: 26px;
      font-weight: 700;
      line-height: 1.5em;
      text-align: center;
      white-space: pre-wrap;

      @media screen and (min-width: 1280px) {
        font-size: 24px;
      }
    }

    &__link {
      display: block;
      color: $color-primary;
      font-size: 20px;
      font-weight: 600;
      line-height: 1.2em;
      text-align: center;
      text-transform: uppercase;
      text-decoration: none;

      &:hover {
        color: $color-primary;
        text-decoration: underline;
      }

      &::before {
        position: absolute;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        content: "";
      }
    }
  }

  @media (min-width: $breakpoint-tablet) {
    &__header {
      margin-bottom: 72px;

      &-main {
        margin-bottom: 24px;
        min-width: 720px;
        display: flex;
        align-items: center;
      }
    }

    &__title {
      margin-bottom: 0;
      font-size: 36px;
      line-height: 44px;
    }

    &-list {
      display: flex;
      justify-content: space-between;
      flex-wrap: wrap;

      &__item {
        $padding-side: 6px;
        padding-left: $padding-side;
        padding-right: $padding-side;
        width: 50%;
      }
    }
  }
  @media (min-width: 980px) {
    &__header {
      display: flex;
      justify-content: space-between;
      align-items: center;
      flex-wrap: wrap;

      &-main {
        margin-bottom: 0;
      }
    }
  }
  @media (min-width: 1080px) {
    &-list__item {
      width: 25%;
    }
  }
  @media (min-width: 1520px) {
    &-list__item {
      padding-left: 0;
      padding-right: 0;
    }
  }
}
