$color-primary: #e7002e;
$color-primary-dark: #b61529;
$color-default: #061e4e;

$container-padding-inner: 20px;
$container-width: 1568px;

$breakpoint-tablet: 768px;
$breakpoint-laptop: 1024px;
$breakpoint-laptop-large: 1440px;

@mixin primaryBtnStyles {
  border: none;
  background: $color-primary;
  box-shadow: none;
  color: #ffffff;
  font-family: inherit;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
  cursor: pointer;
  transition: ease 0.3s;
  transition-property: background-color;
  will-change: background-color;

  &:hover {
    background-color: $color-primary-dark;
    color: #ffffff;
    text-decoration: none;
  }
}
