@import "./_variables.scss";
@import "./_fonts.scss";

*,
*::before,
*::after {
  box-sizing: border-box;
}

html,
body {
  margin: 0;
  padding: 0;
}
body {
  min-width: 320px;
  font-family: "ProximaNova", sans-serif;

  @media (max-width: #{$breakpoint-tablet - 0.002}) {
    padding-top: 62px;
  }
}
