@import "./_variables.scss";

@font-face {
  font-family: "ProximaNova";
  font-style: normal;
  font-weight: 400;
  src: url(/assets/css/fonts/ProximaNova-Regular.woff2) format("woff2"), url(/assets/css/fonts/ProximaNova-Regular.woff) format("woff");
}
@font-face {
  font-family: "ProximaNova";
  font-style: bold;
  font-weight: 700;
  src: url(/assets/css/fonts/ProximaNova-Bold.woff2) format("woff2"), url(/assets/css/fonts/ProximaNova-Bold.woff) format("woff");
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

html,
body {
  margin: 0;
  padding: 0;
}
body {
  min-width: 320px;
  font-family: "ProximaNova", sans-serif;

  @media (max-width: #{$breakpoint-tablet - 0.002}) {
    padding-top: 62px;
  }
}
